extends root

block content
    h1 #{student.firstName} #{student.lastName}
    ul
        each key in Object.keys(student)
            li #{key}

    button.btn.btn-primary#edit-student(href data-student-id=student.id) Edit Student

    script(src = "/public/scripts/student.js")