script(src="/public/scripts/modals/addStudentModal.js")

#addStudentModal.modal.fade(tabindex='-1', role="dialog" aria-labelledby="addStudentModalLabel" aria-hidden="true")
    .modal-dialog(role="document")
        .modal-content
            .modal-header
                h5.modal-title Add Student
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
            .modal-body
                form(action="submit")
                    .form-row.my-2
                        .col
                            label(for="firstName") First Name
                            input.form-control(type="text" placeholder="First Name" name="firstName" id="firstName")
                            .invalid-feedback Please Enter a First Name
                        .col
                            label(for="lastName") Last Name
                            input.form-control(type="text" placeholder="Last Name" name="lastName" id="lastName")
                            .invalid-feedback Please Enter a Last Name
                    .form-row.my-2
                        .col
                            label(for="cohort") Cohort
                            select.form-control(id="cohort" name="cohort")
                                option(selected value='') Select...
                            .invalid-feedback Please Select a Cohort
                    .form-row.my-2
                        .col
                            label(for="github") Github Profile
                            input.form-control(type="text" placeholder="Github Username" name="github" id="github")
                            .invalid-feedback Please Add a Github Profile
                        .col.pt-3
                            p Just the username, not the whole URL
                    .form-row.my-2
                        .col.mx-4
                            input.form-check-input(type="checkbox" name="enrolledStatus" id="enrolledStatus" checked)
                            label.form-check-label(for="enrolledStatus") Active

            .modal-footer
                button.btn.btn-secondary(type="button" data-dismiss="modal" ) Close
                button.btn.btn-primary(type="button" onclick="validateStudentForm()") Add Student