.navbar-light {
    color: white;
}

.student-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.student-name {

}
.cohort-name {
    color: gray;
}

.linkstyle:hover {
    cursor: pointer;
}