body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-light {
  color: white;
}

.student-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.student-name {

}
.cohort-name {
  color: gray;
}

.linkstyle:hover {
  cursor: pointer;
}

.ontop {
  z-index: 100;
}

.student-card {
  width: 22rem;
  margin: 0.5rem;
}

.student-card-inactive {
  opacity: 0.4
}

.student-photo {
  height: 4rem;
}

.student-name {
  max-width: 12rem;
}

.student-card-footer {
  justify-content: center
}

.student-card-footer > * {
  width: 50%
}

.student-info {
  padding: 5px 10px;
}

.student-touchpoint {
  width: 50%;
  padding: 5px 10px;
}

.student-commits {
  width: 50%;
  padding: 5px 10px;
}

.student-touchpoint-title {
  margin: 0px;
  margin-bottom: 5px;
  padding: 0px;
  width: 100%;
  border-bottom:1px solid rgba(0,0,0,.125);
}

.stoplight-badge {
  color : transparent;
}

.touchpoint-comment {

}

.instructor-card {
  width: 22rem;
  margin: 0.5rem;
}

.instructor-photo {
  height: 4rem;
}

.sort-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sort-controls > * {
  margin-right: 10px;
  margin-bottom: 0px;
}

.ascending:after {
  content: '▲'
}

.descending:after {
  content: '▼'
}

.graph-container {
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-template-rows : 20% 20% 20% 20% 20%;
  background-color: transparent;
  padding: 2px;
  grid-gap: 2px;

}

.graph-item {
}

.graph-item.graph-item-header {
  background-color: transparent;
  font-size: 8px;
  text-align: center;
}

.no-commits {
  background-color:#ebedf0
}

.sm-commits {
  background-color:#c6e48b
}

.md-commits {
  background-color:#7bc96f
}

.lg-commits {
  background-color:#239a3b
}

.xl-commits {
  background-color:#196127
}

.tooltip-inner {
  white-space:pre-wrap;
}
